.destination {
  padding: 0px 20px;
  margin-top: 50px;
  flex-direction: row-reverse;
  justify-content: center;
  .info-container {
    nav {
      text-transform: uppercase;
      ul {
        width: 60%;
        display: flex;
        justify-content: space-between;
        a {
          padding: 10px 0px;
          text-decoration: none;
          border-bottom: 2px solid transparent;
          transition: 0.5s border;
          &:hover,
          &[active] {
            border-color: white;
          }
        }
      }
    }
  }
  > div {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .planet-info {
    hr {
      margin: 30px 0px;
    }
    .f-2 {
      justify-content: left;
      .distance,
      .time {
        align-items: flex-start;
        letter-spacing: 2px;
        font-family: "Forum", cursive;
        text-transform: uppercase;
        p:nth-child(2) {
          font-size: 1.5em;
        }
      }
      div {
        width: 50%;
        margin-right: 30px;
      }
    }
  }
  .planet {
    img {
      margin: 40px 0px;
      width: 80%;
      animation-name: spinning;
      animation-duration: 300s;
      animation-iteration-count: infinite;
    }
    p {
      font-size: 2em;
      span {
        font-weight: bold;
        color: grey;
      }
    }
  }
}
@media (max-width: 770px) {
  .destination {
    >div{
      width: 80%;
    }
    .planet {
      align-items: center;
    }
    flex-direction: column-reverse;
    .info-container {
      nav {
        ul {
          justify-content: space-between;
          width: 100%;
        }
      }
    }
    .planet-info {
      .planet-calc.f-2 {
        align-items: flex-start;
        div {
          margin-right: 0px;
          align-items: center;
        }
        justify-content: center;
        flex-direction: row;
      }
    }
  }
}
@media (max-width:450px) {
  .destination{
    >div{
      width: 90%;
    }
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
