nav {
  padding-top: 25px;
  position: relative;
  font-size: 1.2em;
  .blur {
    //   padding-inline: 20px;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(100px);
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      list-style-type: none;
      justify-content: space-between;
      padding: 0px 50px;
      background-blend-mode: darken;
      a {
        z-index: 20;
        border-bottom: 2px solid transparent;
        text-align: center;
        margin-inline: 10px;
        white-space: nowrap;
        padding: 20px 0px 20px;
        transition: border 0.5s;
        text-decoration: none;
        &:hover {
          border-color: white;
        }
        &[active] {
          border-color: white;
        }
        li {
          z-index: 10;
        }
        span {
          z-index: 10;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
  }
  img {
    padding: 0px 20px;
  }
  hr {
    position: absolute;
    width: 27%;
    left: 25%;
    background-color: white;
    z-index: 9;
  }
}
@media (max-width: 770px) {
  .nav-container {
    flex-direction: row;
  }
  nav {
    .blur {
      width: 100%;
      // height: 100%;
      backdrop-filter: blur(100px);
      padding: 0px 20px;
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
        padding: 0px 0px;
        background-blend-mode: darken;
        a {
          margin-inline: 0px;
          span {
            z-index: 10;
            font-weight: bold;
            letter-spacing: 0px;
          }
        }
      }
    }
    img {
      padding: 0px 20px;
    }
    hr {
      display: none;
      position: absolute;
      width: 27%;
      left: 25%;
      background-color: white;
      z-index: 9;
    }
  }
}
