.technology {
  max-width: 95%;
  margin: 100px auto;
  .banner {
    font-size: 6em;
    letter-spacing: 3px;
  }
  .info-container {
    width: 60%;
    .info {
      width: 80%;
      .operation-name{
        font-family: "Forum", cursive;
        font-size: 2.5em;
        letter-spacing: 2px;
        color: grey;
      }
    }
    .link-container {
      height: 450px;
      padding-right: 30px;
      .link {
        border: 2px solid white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 2em;
        transition: 0.1s background;
        &[active],
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
  .imageContainer {
    width: 50%;
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 770px) {
  .technology {
    flex-direction: column-reverse;
    max-width: 95%;
    margin: 100px auto;
    .banner {
      font-size: 6em;
      letter-spacing: 3px;
    }
    .info-container {
      width: 90%;

      .info {
        width: 80%;
        .operation-name{
          display: block;
        }
      }
      .link-container {
        height: 200px;
        padding-right: 00px;
        flex-direction: row;
        .link {
          margin-inline:20px;
          border: 2px solid white;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 2em;
          transition: 0.1s background;
          &[active],
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
    .imageContainer {
      width: auto;
      img {
        max-width: 100%;
      }
    }
  }
}
